<CascadingValue Name="SideBar" Value="this.SideBar">
    <CascadingValue Name="MenuTitle" Value="this.MenuTitle">

        <Router AppAssembly="@typeof(Mongrel.Server.Grey.Routes.IndexRoute).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>

    </CascadingValue>
</CascadingValue>

@code {
    string SideBar = "sidebar sidebar-grey";

    string MenuTitle = "Mongrel.Server.Grey";
}
