<CascadingValue Value="this.SpaSiteData">

        <Router AppAssembly="@typeof(Mongrel.WASM.Red.Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
</CascadingValue>

@code {
    SPASiteData SpaSiteData = new SPASiteData()
    {
        SideBar = "sidebar sidebar-red",
        MenuTitle = "Mongrel.WASM.Red",
        SiteUrlSegment = string.Empty
    };
}
